.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    margin: 6px;
  }

  .button{
    width: 100px;
    padding: 8px;
    font-size: 20px;
    background-color: #10653b;
    color: white;
    cursor: pointer;
    border-radius: 6px;
  }

  .error__message{
    color: rgb(244, 24, 24);
    font-weight: bold;
    margin-bottom: 20px;
  }