.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    margin: 6px;
  }

  .button{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    background-color: #068b48;
  }

  .error__message{
    color: rgb(244, 24, 24);
    font-weight: bold;
    margin-bottom: 20px;
  }

  .success__message{
    color: rgb(5, 150, 17);
    font-weight: bold;
    margin-bottom: 20px;
  }